<section id="feed" class="feed">
  {{#foreach posts}}
    <article class="{{post_class}}" style="opacity: 0;">
        {{#if feature_image}}
          <a href="{{imageresize feature_image 1920}}" data-fancybox="gallery" data-caption="{{{title}}}" class="post-image">
              <img src="{{imageresize feature_image 600}}" alt="">
              <h2 class="post-title">{{{title}}}</h2>
          </a>
        {{else}}
          {{#if (firstimage (content))}}
            <a href="{{imageresize (firstimage (content)) 1920}}" data-fancybox="gallery" data-caption="{{{title}}}" class="post-image">
              <img src="{{imageresize (firstimage (content)) 600}}" alt="">
              <h2 class="post-title">{{{title}}}</h2>
            </a>
          {{else}}
             <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
          {{/if}}
        {{/if}}
    </article>
  {{~/foreach}}
</section>
{{pagination}}
